<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>欢迎使用歌词系统</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/main.css">

</head>

<body class="lay-blog">
    <div class="header">
        <div class="header-wrap">
            <h1 class="logo pull-left">
                <a href="index">
                    <img src="/static/images/logo.png" alt="" class="logo-img">
                    <img src="/static/images/header_text.png" alt="" class="logo-text">
                </a>
            </h1>
            <div class="blog-nav pull-right">
                <ul class="layui-nav pull-left">
                    <li class="layui-nav-item"><a href="index">首页</a></li>
                    <li class="layui-nav-item"><a href="lyrics_response">歌词生成</a></li>
                    <li class="layui-nav-item layui-this"><a href="timeline">网站时间线</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="container">
            <div class="contar-wrap">
                <h4 class="item-title">
                    <p><i class="layui-icon layui-icon-speaker"></i>网站时间线</p>
                </h4>
                <div class="item">
                    <ul class="layui-timeline">
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2019年9月6日 项目启动&需求分析</h3>
                                <ul>
                                    <li>项目启动</li>
                                    <li>选题</li>
                                    <li>资源调配</li>
                                    <li>需求确认</li>
                                    <ul>
                                        <li>市场需求确认</li>
                                        <li>项目范围、需求确认</li>
                                    </ul>
                                </ul>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2019年10月11日 算法建模</h3>
                                <ul>
                                    <li>文献阅读</li>
                                    <li>算法选择</li>
                                    <li>数据收集</li>
                                    <li>模型搭建</li>
                                    <li>模型调试</li>
                                    <li>模型确认</li>
                                </ul>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2019年11月1日 网站搭建</h3>
                                <ul>
                                    <li>需求分析</li>
                                    <li>网站功能确认</li>
                                    <li>网站架构设计</li>
                                    <li>网页编写</li>
                                    <li>后端功能搭建</li>
                                    <li>服务器搭建</li>
                                    <li>网站功能测试</li>
                                    <li>模型结合测试</li>
                                </ul>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title">2019年11月27日 测试&改进&文档</h3>
                            <ul>
                                <li>用户测试</li>
                                <li>功能改进</li>
                                <li>Go-Live</li>
                                <li>海报制作</li>
                                <li>文档撰写</li>
                            </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



</body>
<script src="../static/js/index.js"></script>

</html>